name: PHP Docker Image CI for Sylius

on:
    workflow_dispatch: ~
    push:
        branches: [ frankenphp ]
        paths:
            - 'frankenphp/**'
            - 'WORKSPACE'
    schedule:
        - cron: '0 20 * * 5'

concurrency:
    group: sylius_frankenphp_build
    cancel-in-progress: false

jobs:

    build:

        name: "Sylius FrankenPHP - ${{ matrix.frankenphp }}${{ matrix.php }} ${{ matrix.distro }}"

        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                frankenphp: [ "1.5-php" ]
                php: [ "8.2", "8.3", "8.4" ]
                distro: [ "alpine" ]

        steps:

            - uses: actions/checkout@v4

            - name: Generate UUID
              id: generate-uuid
              run: |
                  UUID=$(cat /proc/sys/kernel/random/uuid)
                  echo "UUID=${UUID}" >> $GITHUB_OUTPUT

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository_owner }}/sylius-frankenphp-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}
                  tags: |
                      type=raw,value=${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}
                  labels: |
                      org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
                      org.opencontainers.image.description=Sylius FrankenPHP ${{ matrix.frankenphp }}${{ matrix.php }} Docker image
                      org.opencontainers.image.licenses=MIT

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Cache Docker layers
              uses: actions/cache@v4
              with:
                  path: /tmp/.buildx-cache
                  key: "${{ runner.os }}-frankenphp-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}-buildx-cache-${{ vars.CACHE_VERSION }}-${{ steps.generate-uuid.outputs.uuid }}"
                  # https://github.com/actions/cache/issues/109#issuecomment-558771281
                  # https://github.community/t/always-save-new-cache-for-incremental-builds/172791
                  restore-keys: "${{ runner.os }}-frankenphp-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}-buildx-cache-${{ vars.CACHE_VERSION }}-"

            - name: Docker Login
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
                  logout: true

            - name: Build multiplatform
              uses: docker/build-push-action@v5
              with:
                  file: ./frankenphp/Dockerfile
                  context: ./frankenphp
                  build-args: "FRANKENPHP_VERSION=${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}"
                  platforms: linux/amd64,linux/arm64
                  push: false
                  pull: true
                  tags: ${{ steps.meta.outputs.tags }}
                  cache-from: type=local,src=/tmp/.buildx-cache
                  cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

            - name: Build linux/amd64 to tar
              uses: docker/build-push-action@v5
              with:
                  file: ./frankenphp/Dockerfile
                  context: ./frankenphp
                  build-args: "FRANKENPHP_VERSION=${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}"
                  platforms: linux/amd64
                  push: false
                  pull: false
                  tags: ${{ steps.meta.outputs.tags }}
                  cache-from: type=local,src=/tmp/.buildx-cache-new
                  cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new-amd64
                  outputs: type=docker,dest=./external/image-amd64.tar

            - name: Build linux/arm64 to tar
              uses: docker/build-push-action@v5
              with:
                  file: ./frankenphp/Dockerfile
                  context: ./frankenphp
                  build-args: "FRANKENPHP_VERSION=${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}"
                  platforms: linux/arm64
                  push: false
                  pull: false
                  tags: ${{ steps.meta.outputs.tags }}
                  cache-from: type=local,src=/tmp/.buildx-cache-new
                  cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new-arm64
                  outputs: type=docker,dest=./external/image-arm64.tar

            - name: Mount Bazel cache
              uses: actions/cache@v4
              with:
                  path: "~/.cache/bazel"
                  key: "${{ runner.os }}-frankenphp-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}-bazel-cache-${{ vars.CACHE_VERSION }}-${{ steps.generate-uuid.outputs.uuid }}"
                  restore-keys: "${{ runner.os }}-frankenphp-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}-bazel-cache-${{ vars.CACHE_VERSION }}-"

            - name: Setup PHP for Bazel
              run: |
                  set -ex
                  cat > frankenphp/php-version.bzl <<EOF
                  PHP_VERSION = "${{ matrix.php }}"
                  EOF
                  cat > frankenphp/frankenphp-arch.bzl <<EOF
                  ARCHITECTURES = ["amd64", "arm64"]
                  EOF

            - name: Bazel build and test
              run: |
                  set -ex
                  targets=$(bazel query 'attr(visibility, "//visibility:public", //frankenphp:*)' | sort)
                  bazel build --curses=no ${targets}
                  bazel test --curses=no --test_output=errors ${targets}

            - name: Push
              uses: docker/build-push-action@v5
              with:
                  file: ./frankenphp/Dockerfile
                  context: ./frankenphp
                  build-args: "FRANKENPHP_VERSION=${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}"
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.ref == 'refs/heads/frankenphp' || github.ref == 'refs/heads/main' || github.event_name == 'release' }}
                  pull: false
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=local,src=/tmp/.buildx-cache-new
                  cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

            - name: Move cache
              run: |
                  rm -rf /tmp/.buildx-cache
                  mv /tmp/.buildx-cache-new /tmp/.buildx-cache

    build-xdebug:
        needs: build

        name: "Sylius PHP with Xdebug - ${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}"

        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                frankenphp: [ "1.5-php" ]
                php: [ "8.0", "8.1", "8.2", "8.3", "8.4" ]
                distro: [ "", "-alpine" ]

        steps:

            - uses: actions/checkout@v4

            - name: Generate UUID
              id: generate-uuid
              run: |
                  UUID=$(cat /proc/sys/kernel/random/uuid)
                  echo "UUID=${UUID}" >> $GITHUB_OUTPUT

            - name: Set up QEMU
              id: qemu
              uses: docker/setup-qemu-action@v3

            - name: Available platforms
              run: echo ${{ steps.qemu.outputs.platforms }}

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ vars.DOCKER_FRANKENPHP_REPOSITORY_NAME }}
                  tags: |
                      type=raw,value=${{ matrix.frankenphp }}${{ matrix.php }}-xdebug-${{ matrix.distro }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Cache Docker layers
              uses: actions/cache@v4
              with:
                  path: /tmp/.buildx-cache
                  key: "${{ runner.os }}-frankenphp-xdebug-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}-buildx-cache-${{ vars.CACHE_VERSION }}-${{ steps.generate-uuid.outputs.uuid }}"
                  # https://github.com/actions/cache/issues/109#issuecomment-558771281
                  # https://github.community/t/always-save-new-cache-for-incremental-builds/172791
                  restore-keys: "${{ runner.os }}-frankenphp-xdebug-${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}-buildx-cache-${{ vars.CACHE_VERSION }}-"

            - name: Docker Login
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
                  logout: true

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                  file: ./frankenphp/xdebug.Dockerfile
                  context: ./frankenphp
                  build-args: |
                      "IMAGE_NAME=${{ vars.DOCKER_FRANKENPHP_REPOSITORY_NAME }}"
                      "IMAGE_TAG=${{ matrix.frankenphp }}${{ matrix.php }}-${{ matrix.distro }}"
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.ref == 'refs/heads/frankenphp' || github.ref == 'refs/heads/main' || github.event_name == 'release' }}
                  pull: true
                  tags: ${{ steps.meta.outputs.tags }}
                  cache-from: type=local,src=/tmp/.buildx-cache
                  cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

            - name: Move cache
              run: |
                  rm -rf /tmp/.buildx-cache
                  mv /tmp/.buildx-cache-new /tmp/.buildx-cache
